body {
    background-image: url(./src/asset/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center ;
    min-height: 100vh;
    background-attachment: fixed;
  }